/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@font-face {
  font-family: "Montserrat";
  src: url("./assets/Montserrat/Montserrat-Black.ttf")
 }

html{
  height: 720px;
  width: 1280px;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
