.imgs
  position: absolute
  margin: auto
  height: 750px
  left: 0
  right: 0
  background-size: 100% 100%

.visually-hidden
  position: absolute
  clip: rect(0 0 0 0)

.input
  position: absolute
  margin: auto
  top: 350px
  left: 500px
  font-family: "Montserrat"
  font-weight: 700
  font-size: 72px
  text-align: center
  vertical-align: middle
  border: none
  outline: none
  width: 300px
  color: #FFFFFF
  background-color: #00968D

.animation
  position: absolute
  margin: auto
  top: 250px
  left: 500px
  height: 300px
  width: 300px